<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <style>
        body {
            background-color: #ce3e3e;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .message {
            font-size: 36px;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="message"><b>404: Invalid Customer ID</b></div>
        <p style="font-size:20px;"> Oops! The customer ID you entered is invalid.</p>
        <p style="font-size:20px;">Please go back and try again.</p>
    </div>
</body>
</html>
